yubikey-manager==5.3.0
pyinstaller==6.4.0
tox==4.13.0
pytest==8.1.1
pytest-cov==4.1.0
pre-commit==3.6.2
pyoslog
fake_winreg
pytest-random-order
pillow # Needed for pyinstaller to convert .jpg to correct icon formats
# On Windows
# pywin32
