<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "YubiKeyLocker" ?>
<?define Manufacturer = "Sciber" ?>
<?define Version = "1.0.0.4" ?>
<?define UpgradeCode = "43768026-8bd2-4d87-8106-538f0e328174" ?> <!-- Generated with $([System.Guid]::NewGuid()).Guid -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="$(Name)"
           Manufacturer="$(Manufacturer)"
           Version="$(Version)"
           UpgradeCode="$(UpgradeCode)"
           Compressed="yes"
           >

        <MediaTemplate EmbedCab="yes" />

        <!-- Upgrade logic -->
        <!-- AllowSameVersionUpgrades -> Always upgrade, never allow two versions to be installed next to each other -->
        <MajorUpgrade DowngradeErrorMessage="The same or a newer version of this product is already installed" AllowSameVersionUpgrades="yes" />


        <!-- Define the directory structure -->
                 <!-- Create a folder inside program files  -->
                <StandardDirectory Id="ProgramFiles64Folder">
                    <Directory  Name="$(Manufacturer)">
                        <!-- Create a folder within the parent folder given the name -->
                        <Directory Id="INSTALLFOLDER" Name="$(Name)" />
                    </Directory>
                </StandardDirectory>

        <!-- The files inside this DirectoryRef are linked to
             the YubiKeyLocker directory via INSTALLFOLDER -->
        <DirectoryRef Id="INSTALLFOLDER">

            <!-- Create a single component which is the yubikey-locker.exe file -->
            <Component Id="ServiceExecutable" Bitness="always64">
                <File Id="YubiKeyLocker"
                      Source="dist/yubikey-locker.exe"
                      KeyPath="true" />

                <!-- Remove all files from the INSTALLFOLDER on uninstall -->
                <RemoveFile Id="ALLFILES" Name="*.*" On="both" />

                <!-- Tell WiX to install the Service -->
                <ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="YubiKeyLocker"
                                DisplayName="$(Name)"
                                Description="YubiKey Locker by Sciber"
                                Start="auto"
                                ErrorControl="normal" />

                <!-- Tell WiX to start the Service -->
                <ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="YubikeyLocker"
                                Wait="true" />
            </Component>
        </DirectoryRef>


        <!-- Tell WiX to install the files -->
        <Feature Id="Service" Title="YubiKey Locker by Sciber installer" Level="1">
            <ComponentRef Id="ServiceExecutable" />
        </Feature>
    </Package>
</Wix>
