#/etc/systemd/user/yubikey-locker.service

#
# systemctl status yubikey-locker --user
# systemctl enable yubikey-locker --user
# systemctl start yubikey-locker --user
#

[Unit]
Description=Sciber YubiKey Locker

[Service]
Type=simple
ExecStart=/home/<user>/.sciber/yubikey-locker-linux
Restart=always

[Install]
WantedBy=user.target
